
/*first section*/
.cover{
 text-align: center;
 background-color: lightpink;   
 margin: 10px;
 border-radius: 30px;
}
/*end first section*/

/*second section*/
.presentation, .explication{
    background-color: antiquewhite;
    border: solid 1px black;
    margin: 10px;
    padding: 10px;
    border-radius: 30px; 
      
}
.title__presentation{
    text-align: center;
}

.text__presentation{
    margin: 10px;
}

/*end second section*/

/*last section*/
.title__explication{
    text-align: center;
}
.lessonsco{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;

}
.monthevent{
    background-color: white;
    border: solid 1px black;
    margin: 10px;
    padding: 10px;
    border-radius: 30px;

}
.title__monthevent{
text-align: center;
font-weight: bolder;
}

.image__affiche{
    display: block;
    text-align: center;
}

.infoplus{
    text-align: center;
}
/* end last section*/